<body>
    <h1>Home</h1>

    <a href="/students">Students</a> <!--Link to the student page-->
    <br>
    <a href="/grades">Grades</a> <!--Link to the grades page-->
    <br>
    <a href="/lecturers">Lecturers</a> <!--Link to the lecturers page-->
</body>