<style>
    table, th, td {
    border: 2px solid black; /*make the border of the table 2px in thickness, solid and black*/
    border-collapse: collapse; /*adjacent table cell borders are merged into a single border*/
    padding: 10px; /*give the content of the table padding, looks better in my opinion */
  }
</style>

<h1>Lecturers</h1>

<a href="/">Home</a>
<br><br>

<table>
    <thead>
        <tr>
            <th>Lecturer ID</th>
            <th>Name</th>
            <th>Department ID</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!--Loop through each lecturer in the array of lecturers-->
        <% lecturers.forEach((lecturer) => { %>
            <tr>
                <td><%= lecturer._id %></td>
                <td><%= lecturer.name %></td>
                <td><%= lecturer.did %></td>
                <td>
                    <a href="/lecturers/delete/<%= lecturer._id %>">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>